$background-green: #aac789;
$white-color: white;
$max-page-height: 100vh;
$negative-top-margin: -1rem;
$big-logo-size: 250px;
$medium-logo-size: 200px;
$logo-padding: 5rem 0rem 2rem 0rem;
$card-width: 500px;
$card-height: 750px;
$box-shadow: 5px 5px 5px #00000040;
$border-radius: 10px;
$dark-blue-color: #1e4147;
$light-gray-color: #6b8286;
$input-width: 300px;
$input-height: 60px;
$button-width: 300px;
$button-height: 75px;
$border-dark-blue: solid 3px $dark-blue-color;
$solid-bottom-border: 0.5rem solid #1e4147;
$error-card-size: 700px;
$very-light-gray: #f1f1f1;
$light-gray: #888;
$dark-gray: #555;
