@use "../../../shared/styles/cards";
@use "../../../shared/styles/variables";

.error-page {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: variables.$max-page-height;
  }
}
