@use "../../../../../styles/buttons";
@use "../../../../../styles/variables";

.navigation-bar {
  &__container {
    background-color: variables.$white-color;
    width: 80%;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 4rem;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow;
  }
}
