<div class="add-car-popup__container">
  <form [formGroup]="addCarGroup" class="add-car-popup__form">
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="producer" class="add-car-popup__form-label">MARKA</label>
        <mat-select
          id="producer"
          type="number"
          formControlName="producer"
          class="add-car-popup__form-input"
          placeholder="MARKA"
          (selectionChange)="changeModelsOnBrandSelect()"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let brand of brands" value="{{ brand }}">{{
            brand
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="model" class="add-car-popup__form-label">MODEL</label>
        <mat-select
          id="model"
          type="number"
          formControlName="model"
          class="add-car-popup__form-input"
          placeholder="MODEL"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let model of models" value="{{ model }}">{{
            model
          }}</mat-option>
        </mat-select>
        <mat-hint>Modele pokażą się po wybraniu marki pojazdu</mat-hint>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="bodyType" class="add-car-popup__form-label"
          >TYP NADWOZIA</label
        >
        <mat-select
          id="bodyType"
          type="number"
          formControlName="bodyType"
          class="add-car-popup__form-input"
          placeholder="TYP NADWOZIA"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let body of bodyTypes" value="{{ body }}">{{
            body
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="gearboxType" class="add-car-popup__form-label"
          >SKRZYNIA BIEGÓW</label
        >
        <mat-select
          id="gearboxType"
          type="number"
          formControlName="gearboxType"
          class="add-car-popup__form-input"
          placeholder="SKRZYNIA BIEGÓW"
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let gearbox of gearboxTypes"
            value="{{ gearbox }}"
            >{{ gearbox }}</mat-option
          >
        </mat-select>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="year" class="add-car-popup__form-label"
          >ROK PRODUKCJI</label
        >
        <input
          id="year"
          type="number"
          formControlName="year"
          class="add-car-popup__form-input"
          placeholder="ROK PRODUKCJI"
          [matAutocomplete]="yearAutocomplete"
          min="1990"
          max="2022"
        />
        <mat-autocomplete #yearAutocomplete="matAutocomplete">
          <mat-option></mat-option>
          <mat-option *ngFor="let year of years" value="{{ year }}">{{
            year
          }}</mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="price" class="add-car-popup__form-label">CENA</label>
        <input
          id="price"
          type="number"
          formControlName="price"
          class="add-car-popup__form-input"
          placeholder="CENA"
          min='0'
          [matAutocomplete]="priceAutocomplete"
        />
        <mat-autocomplete #priceAutocomplete="matAutocomplete">
          <mat-option></mat-option>
          <mat-option *ngFor="let price of prices" value="{{ price }}">{{
            price
          }}</mat-option>
        </mat-autocomplete>
        <mat-hint>Cena w pln</mat-hint>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="driveType" class="add-car-popup__form-label">NAPĘD</label>
        <mat-select
          id="driveType"
          type="number"
          formControlName="driveType"
          class="add-car-popup__form-input"
          placeholder="NAPĘD"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let drive of driveTypes" value="{{ drive }}">{{
            drive
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="fuelType" class="add-car-popup__form-label"
          >RODZAJ PALIWA</label
        >
        <mat-select
          id="fuelType"
          type="number"
          formControlName="fuelType"
          class="add-car-popup__form-input"
          placeholder="RODZAJ PALIWA"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let fuel of fuelTypes" value="{{ fuel }}">{{
            fuel
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="capacity" class="add-car-popup__form-label"
          >POJEMNOŚĆ SILNIKA</label
        >
        <input
          id="capacity"
          type="number"
          formControlName="capacity"
          class="add-car-popup__form-input"
          placeholder="POJEMNOŚĆ SILNIKA"
          min='0'
        />
        <mat-hint>Pojemność silnika wyrażona w cm<sup>3</sup></mat-hint>
      </div>
    </div>
    <div class="add-car-popup__form-hint">
      <div class="add-car-popup__form-item">
        <label for="distance" class="add-car-popup__form-label">PRZEBIEG</label>
        <input
          id="distance"
          type="number"
          formControlName="distance"
          class="add-car-popup__form-input"
          placeholder="PRZEBIEG"
          min='0'
        />
        <mat-hint>Przebieg wyrażony w km</mat-hint>
      </div>
    </div>
    <div class="add-car-popup__buttons">
      <button
        class="add-car-popup__button--primary"
        [disabled]="!addCarGroup.valid"
        (click)="addCar()"
      >
        DODAJ AUTO
      </button>
      <button class="add-car-popup__button--secondary" (click)="closeDialog()">
        ANULUJ
      </button>
    </div>
  </form>
</div>
